:root {
  --bg-dark: #121213;
  --bg-dark-overlay: #121213dc;
  --bg-light: #d7dadc;

  /* for light theme */
  --correct-light: #6dad64;
  --contain-light: #c9b659;
  --notcontain-light: #878a8c;
  --separator-light: #565758;
  --keyboard-light: #d3d6da;
  --txt-light: #1a1a1b;

  /* for dark theme */
  --correct-dark: #56904e;
  --contain-dark: #b5a13c;
  --notcontain-dark: #3a3a3c;
  --separator-dark: #565758;
  --keyboard-dark: #818384;
  --txt-dark: #d7dadc;

  /* for colod blind */
  --correct-blind: #f3763b;
  --contain-blind: #87bff9;

  --selection: #4d74ff;
}
.mainApp {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  flex: 1;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--separator-dark);
  margin-bottom: 24px;
  padding: 0 5px;
  padding-bottom: 5px;
  width: 100%;
}
header div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
header div:hover {
  opacity: 0.8;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  gap: 1rem;
}
main > section {
  flex: 1 1 250px;
  margin: 0.5rem 0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.logo img {
  width: 90%;
  max-width: 250px;
}
.btn img {
  max-width: 24px;
}

.trials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.letter {
  width: 49px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 900;
  background-color: var(--keyboard-dark);
}

.correct .letter {
  background-color: var(--correct-dark);
  transition: transform 0.3s;
}
.correct .letter:hover {
  transform: scale(0.95);
}
.correct .empty {
  background-color: var(--bg-dark);
  border: 2px solid var(--correct-dark);
}
.contain {
  border: 2px solid var(--contain-dark);
  padding: 5px;
}
.contain .letter {
  background-color: var(--contain-dark);
}
.notcontain {
  border: 2px solid var(--notcontain-dark);
  padding: 5px;
}
.notcontain .letter {
  background-color: var(--notcontain-dark);
}
.inputWrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}
.resultsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.lettersWrapper {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  min-height: 63px;
  min-width: 280px;
  max-width: 280px;
}

.resultBtn {
  user-select: none;
  background-color: var(--keyboard-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  padding: 1rem 0;
  cursor: pointer;
  transition: 0.3s;
}
.resultBtn:hover {
  opacity: 0.8;
}
.clearInputs {
  user-select: none;
  margin-top: 8px;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s;
}
.clearInputs:hover {
  opacity: 0.8;
}

.correct .selected {
  border: 3px solid var(--selection);
}
.lettersWrapper.selected {
  border: 2px solid var(--selection);
}
.results {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid var(--keyboard-dark);
  padding: 5px;
  max-height: 50vh;
  min-height: 50vh;
  width: 280px;
  overflow: auto;
}
.results .word {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid var(--keyboard-dark);
  padding-bottom: 5px;
}
.results .word:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
.link:hover {
  text-decoration: underline;
}
footer a {
  color: var(--keyboard-dark);
}

.column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  gap: 15px;
}
.modal {
  position: fixed;
  inset: 0;
  height: 100vh;
  background: var(--bg-dark-overlay);
  z-index: 10;
  width: 100%;
}
.InnerModalContainer {
  background: var(--bg-dark);
  width: 100%;
  max-width: 450px;
  height: 100vh;
  overflow: hidden;
  padding: 1rem 2rem;
  margin: 0 auto;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal label {
  font-weight: bold;
  font-size: 1.2rem;
}
.modalHeader img {
  width: 24px;
  cursor: pointer;
  transition: 0.3s;
}
.modalHeader img:hover {
  opacity: 0.8;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  padding-right: 2rem;
  padding-bottom: 3rem;
  overflow: auto;
}
.modalContainer img {
  width: 90%;
  max-width: 250px;
}
.modalContainer .arrowImg {
  width: 32px;
  align-self: center;
}
.correctTxt {
  color: var(--correct-dark);
}
.containTxt {
  color: var(--contain-dark);
}
.notContainTxt {
  color: var(--notcontain-dark);
}
.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 450px;
  padding: 0.5rem;
  user-select: none;
}
.keyboardRow {
  display: flex;
  justify-content: center;
  width: 100%;
  transform: scale(0);
  transform-origin: bottom;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.showKeyboard {
  transform: scale(1);
  max-height: 200px;
}
.toggleKeyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
  background-color: var(--notcontain-dark);
}
.keyboardRow .key {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  border-radius: 4px;
  text-transform: uppercase;
  flex-grow: 1;
  min-height: 32px;
  padding: 5px;
  background-color: var(--keyboard-dark);
}
.keyboardRow .key:last-of-type {
  margin: 0;
}
.keyboardRow .key:hover {
  opacity: 0.9;
}
.half {
  flex-grow: 0.5;
}
.oneandhalf {
  flex-grow: 1.5;
}
.error {
  color: #f17272;
}

.github {
  display: flex;
  align-items: center;
  color: var(--keyboard-dark);
}
.github img {
  width: 24px;
  margin-right: 0.5rem;
}
.github img:hover {
  opacity: 0.8;
}
