body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121213;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}

.names_wrapper {
  display: flex;
  width: 100%;
  max-width: 900px;
  overflow-x: auto;
}
.input_wrappers input {
  display: block;
  width: 100%;
  flex: 1 1 100px;
  min-height: 40px;
  max-height: 40px;
  outline: none;
}
.input_wrappers input:focus {
  border: 2px solid #4dbd72;
}

.input_wrappers {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1rem 0;
  gap: 0.3rem;
}
.input_horiz {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 0;
  gap: 0.3rem;
}

#root {
  height: 100vh;
  overflow: hidden;
  display: flex;
}
